h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.row {
  text-align: center;
  margin-left: 36%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  color: white;
  background-color: #333;
  border: transparent;
  margin-left: 45%;
  margin-top: 10px;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
