
<div class="container">
  <h2>Agenda</h2>
  <form [formGroup]="formContato" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome" required>
      </div>

      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email">
      </div>

      <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="tel" class="form-control" name="telefone" id="telefone" required>
      </div>

      <div class="form-group">
          <label for="dataNascimento">Data de Nascimento</label>
          <input type="date" class="form-control" name="dataNascimento" id="dataNascimento">
      </div>

      <input type="submit" class="btn btn-primary mt-4" value="Salvar">
      <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>

  </form>

  

</div>
