
ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #111;
}
